.model-item {
	padding-bottom: 5px;
}

#name-field {
	margin-top: 80px;
}

#googlebutton{
    width: 180px;
    height: 36px;    
    color: #FFFFFF;
    background: rgb(208,66,42);
    margin-top: 3%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#googlebutton:hover,
#googlebutton:focus{
   background: #427FED;
   cursor: pointer;
}

#googlebutton .google-icon{
    margin: 6px 0 0 6px;
    float: left; 
    fill: #FFFFFF;   
}

#googlebutton .sign-in-text{
    text-align: center;
    vertical-align: middle;
    margin: 6px 0 0 0;
    float: left;
    padding-left: 13px;
}

#authorize-button, #signout-button {
    background-color: #fff;
    border-radius: 0px !important;
}